
html{
  font: 100% verdana,sans-serif;
}
h1 {
  color: #0000ff;
  text-align: center;
h2 {
  color: #0000ff;
  font-style: italic;
  text-align: center;
}
p {
  font-family: serif;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellow-green;
}
